{{- with site.Params.homeInfoParams }}
<article class="first-entry home-info">
  <header class="entry-header">
    <h1>{{ .Title | markdownify }}</h1>
  </header>
  <div class="entry-content">{{ .Content | markdownify }}</div>
  <footer class="entry-footer">
    {{ partial "social_icons.html" site.Params.socialIcons }}
  </footer>
  <div class="entry-content">
    <ul class="post-tags">
      <li>
        <a href="tags/the-clean-architecture">the clean architecture</a>
      </li>
      <li>
        <a href="tags/domain-driven-design">domain driven design</a>
      </li>
    </ul>
  </div>
</article>
{{- end -}}
